.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  padding-bottom: 25px;
  background-color: white;
}
.screen-header__title {
  font-size: 35px;
  font-weight: 600;
}
.screen-header__icons i {
  font-size: 21px;
  padding: 10px;
}
